.VueCarousel-navigation-button {
  top: calc(100% - 1.6rem) !important;
  user-select: none !important;
}
.VueCarousel-navigation-next {
  right: 40% !important;
  user-select: none !important;
}
.VueCarousel-navigation-prev {
  left: 40% !important;
  user-select: none !important;
}