@font-face {
  font-family: 'SF Pro Display';
  src: url("../../public/fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
}

@font-face {
  font-family: 'Bebas Neue';
  src: url("../../public/fonts/BebasNeue-Regular.ttf")  format('truetype');
}